* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
    font-size: small;
}

li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img,
ion-icon,
button,
a {
    display: block;
}

span {
    display: inline-block;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

section {
    padding: 2rem 7%;
}

/*-----------------------------------*\
  #Header
\*-----------------------------------*/
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 7%;
    background-color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 2rem;
    font-size: 1.7rem;
}

.navbar a:hover {
    color: red;
}

.ionic {
    font-size: 24px;
    width: 24px;
    height: 24px;
}

/*-----------------------------------*\
  #Home
\*-----------------------------------*/
.home {
}

.home .home-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 70vh;
}

.home .home-content {
    max-width: 380px;
}

.home-container .home-img img {
    width: 450px;
}
