@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #476730;

    --font-color: #141e0c;
    --bg-color: #e3e3dc;
}

html {
    color: var(--font-color);
    background-color: var(--bg-color);
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  .card {
    @apply bg-white shadow-lg rounded-lg p-6;
  }
}
